<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	<p>微信留言:</p>
  	
  	<p>姓名: <%=@name%></p>
  	
  	<p>邮箱: <%=@email%></p>
  	
  	<p>电话: <%=@phone%></p>
  	<br>
  	<p>建议: <%=@content%></p>
  </body>
</html>