<nav class="navbar navbar-default navbar-fixed-top navbar-blue" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="">
				<span class="glyphicon glyphicon-comment">Chat</span>
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<div>
				<p class="navbar-text">微信消息</p>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="">Log in</a></li>
				<li><a href="">Sing up</a></li>
			</ul>
		</div>
	</div>
</nav>
<section class="message">
	<div class="container">
		<h3 class="text-center">Let’s have a quick chat!</h3>
		<p class="text-center">We would be happy to chat with you! Whether you have general question, a technical issue or the desire to discuss your needs, don’t hesitate to contact us. We are available from<b> Monday to Friday, from 9am to 4pm.</b>.</p>
		<div class="separator"></div>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-md-3 control-label">Name</label>
				<div class="col-md-9">
					<input class="form-control form" type="text" placeholder="Name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Email</label>
				<div class="col-md-9">
					<input class="form-control form" type="text" placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Phone</label>
				<div class="col-md-9">
					<input class="form-control form" type="text" placeholder="Phone">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Message</label>
				<div class="col-md-9">
					<textarea class="form-control form" type="text" placeholder="Message"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-3 col-md-9">
					<button type="submit" class="btn btn-default btn-dark-blue btn-block">Send</button>
				</div>
			</div>									
		</form>
	</div>
</section>
<footer class="legal">
	<div class="container">
		<p>
			<span class="glyphicon glyphicon-link"></span> <a href="https://github.com/lijinmin/sum_up/blob/master/app/views/weixin/first_app/index.html.erb">GitHub</a>
		</p>
	</div>
</footer>
<script type="text/javascript">
	
</script>