<nav class="navbar navbar-default navbar-fixed-top navbar-blue" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="">
				<span class="glyphicon glyphicon-download-alt">Spider</span>
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<div>
				<p class="navbar-text">酒店信息</p>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="">Log in</a></li>
				<li><a href="">Sing up</a></li>
			</ul>
		</div>
	</div>
</nav>
<section class="message">
	<div class="container">
		<h3 class="text-center">Let’s have a quick start!</h3>
		<div class="separator"></div>
		<form class="form-horizontal" >
		  <div class="form-group">
		    <!-- <label class="sr-only" for="name">Url</label> -->
		    <div class="col-md-offset-2 col-md-9"><input type="text" class="form-control" id="url" name="url" placeholder="url"></div>
		    <div class="col-md-1">
		    	<button type="button" id="form" class="btn btn-default btn-dark-blue "><span class="glyphicon glyphicon-ok"></span></button>
		    </div>
		  </div>
		</form>
	</div>
</section>
<section class="hotel_info">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ul class="list-group">
					<li class="list-group-item odd">&nbsp;<h3 class="">上海源涞国际服务公寓</h3></li>
					<li class="list-group-item even">&nbsp;<span>上海 徐汇区 天钥桥路325号A栋 ，近南丹东路。 【 徐家汇地区 打浦桥地区 】</span></li>
					<li class="list-group-item odd">&nbsp;<span>客户点评：4.3分，总分5分。</span></li>
					<li class="list-group-item even">&nbsp;<i class="i_label">亲子酒店</i><i class="i_label">浪漫情侣</i><i class="i_label">交通方便</i></li>
					<li class="list-group-item odd">&nbsp;<span>上海源涞国际服务公寓（原嘉汇大酒店）坐落于上海徐家汇繁华商业区，距离地铁1号线、4号线步行仅5分钟路程，交通便利，地理位置得天独厚，无论是购物狂欢还是居家生活，一切尽在咫尺。
　　精致的设计风格和无微不至的服务，将高贵与简约完美融合。百余套精装房源，时尚简约的现代设计风格，使房间显得明亮舒适。公寓拥有63平米大床房及双床房，无论商住、旅游，满足你所有出行需求。
　　源涞国际致力为每一位宾客提供尊崇专享的服务及礼遇：每天奉上精美早餐，以及私人礼宾服务，全套厨房家私一应俱全，尽在为你提供便捷、高效的高档商务服务及住宿体验。
　　源涞国际服务公寓秉承一贯的服务理念，为高端商务人士提供CBD的舒适居家便利生活。</span></li>
					
				</ul>
			</div>
			<div class="col-md-6" id="opt1" style="height: 380px;padding-top: 60px;">
				
			</div>
		</div>
	</div>
</section>
<footer class="legal">
	<div class="container">
		<p>
			<span class="glyphicon glyphicon-link"></span> <a href="https://github.com/lijinmin/sum_up/blob/master/app/views/weixin/first_app/index.html.erb" target="_blank" >GitHub</a>
		</p>
	</div>
</footer>
<script type="text/javascript">
$("#form").on('click',function(){
	var url = $("input").val();
	$.ajax({
		url:'/spider/first_app/search',
		data:{url:url}
	})
})
  // echarts color
 // http://blog.csdn.net/eastmount/article/details/52823548
	var option1 = {
    title : {
        text: '住客点评',
        // subtext: '纯属虚构',
        textStyle: {
        	fontWeight: 'normal',
        	color: '#408829'
        },
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: [{name: '位置', textStyle: {color: '#408829'}},
        {name: '设施', textStyle: {color: '#408829'}},
        {name: '服务', textStyle: {color: '#408829'}},
        {name: '卫生', textStyle: {color: '#408829'}}]
    },
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:335, name:'位置'},
                {value:310, name:'设施'},
                {value:234, name:'服务'},
                {value:135, name:'卫生'}
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
var myChart1 = echarts.init($('#opt1')[0]);
myChart1.setOption(option1);
</script>