<nav class="navbar navbar-default navbar-fixed-top navbar-blue" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="">
				<span class="glyphicon glyphicon-user">Clerk</span>
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<div>
				<p class="navbar-text">职员信息</p>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">职员搜索<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="">部门信息</a></li>
					</ul>
				</li>
				<li><a href="">Log in</a></li>
				<li><a href="">Sing up</a></li>
			</ul>
		</div>
	</div>
</nav>
<section class="message">
	<div class="container">
		<h3>&nbsp;</h3>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<div class="col-md-offset-1 col-md-3">
					<input type="text" class="form-control" id="firstname" placeholder="请输姓名/工号">
				</div>
				<div class="col-md-2">
					<select class="form-control">
						<option>部门</option>
						<option>1</option>
						<option>1</option>
					</select>						
				</div>		
				<div class="col-md-2">
					<select class="form-control">
						<option>性别</option>
						<option>1</option>
						<option>1</option>
					</select>						
				</div>	
				<div class="col-md-2">
					<select class="form-control">
						<option>入职年份</option>
						<option>1</option>
						<option>1</option>
					</select>						
				</div>				
				<div class="col-md-2">
					<button type="button" id="form" class="btn btn-default btn-dark-blue "><span class="glyphicon glyphicon-ok"></span></button>						
				</div>			
			</div>							
		</form>
	</div>
</section>
<section class="clerk_info">
	<div class="container">
		<ul class="list-inline">
			<li><a href=""><img src="/assets/tou_1.jpg"><p>姓名 </p></a></li>
			<li><a href=""><img src="/assets/tou_1.jpg"><p>姓名 </p></a></li>
			<li><a href=""><img src="/assets/tou_1.jpg"><p>姓名 </p></a></li>
			<li><a href=""><img src="/assets/tou_1.jpg"><p>姓名 </p></a></li>
			<li><a href=""><img src="/assets/tou_1.jpg"><p>姓名 </p></a></li>
			<li><a href=""><img src="/assets/tou_1.jpg"><p>姓名 </p></a></li>
			<li><a href=""><img src="/assets/tou_1.jpg"><p>姓名 </p></a></li>
			<li><a href=""><img src="/assets/tou_1.jpg"><p>姓名 </p></a></li>
			<li><a href=""><img src="/assets/tou_1.jpg"><p>姓名 </p></a></li>
			<li><a href=""><img src="/assets/tou_1.jpg"><p>姓名 </p></a></li>
			<li><a href=""><img src="/assets/tou_1.jpg"><p>姓名 </p></a></li>
			<li><a href=""><img src="/assets/tou_1.jpg"><p>姓名 </p></a></li>
			<li><a href=""><img src="/assets/tou_1.jpg"><p>姓名 </p></a></li>
			<li><a href=""><img src="/assets/tou_1.jpg"><p>姓名 </p></a></li>
			<li><a href=""><img src="/assets/tou_1.jpg"><p>姓名 </p></a></li>
		</ul>
	</div>
	<ul class="pagination">
	    <li><a href="#">&laquo;</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">&raquo;</a></li>
	</ul>
</section>
<footer class="legal">
	<div class="container">
		<p>
			<span class="glyphicon glyphicon-link"></span> <a href="https://github.com/lijinmin/sum_up/blob/master/app/views/weixin/first_app/index.html.erb" target="_blank" >GitHub</a>
		</p>
	</div>
</footer>
<script type="text/javascript">
	
</script>