.navbar-blue {
  background-color: #262f36;
  border-color: #2b2828;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
}
.navbar-header span {
  color: rgb(255,255,255);
}
.message {
  position: relative;
  padding: 70px 0 40px 0;
  background: #262f36;
  z-index: 1;
  color: rgb(255,255,255);
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.separator {
    width: 65px;
    margin: 20px auto 40px auto;
    border-bottom: 3px solid #ffa000;
}
.message .form {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 12px;
    background: rgba(0,0,0,.15);
    border: none;
    border-radius: 5px;
    color: #fff;
    box-shadow: inset 1px 1px 6px 0 rgba(0,0,0,.3);
    transition: all 250ms;
}
.message .btn-dark-blue {
    background: #434f58;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.legal {
    background: #262f36;
    padding: 30px 0 10px 0;
    border-color: #2b2828;
    color: #fff;
    box-shadow: inset 0 0 15px 0 rgba(0,0,0,.6);
}
.hotel_info {
  position: relative;
  padding: 10px 0 40px 0;
  background: #262f36;
  z-index: 1;
  color: rgb(255,255,255);
}
li.odd {
  background: #262f36;
  border: 1px solid #262f36;
}
li.even {
  background: rgba(0,0,0,.15);
  border: 1px solid #262f36;
}
.i_label {
    border: 1px solid #262f36;
    padding-right: 5px;
}
.hotel_name {
    margin-top: 0px;
    margin-bottom: 10px;
}
.clerk_info {
  position: relative;
  padding-left: 110px;
  background: #262f36;
  z-index: 1;
  color: rgb(255,255,255);  
}